<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">Vibin'</a></h1>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#results">Privacy Policy</a></li>
                <li><a href="#footer">Contact</a></li>
            </ul>
        </nav>
        <div>
            <a href="/users/register" class="get-started-btn scrollto">Register</a>
            <a href="/users/login" class="get-started-btn scrollto">Login</a>
        </div>
    </div>
</header>

<div class="top-space"></div>
<section id="results" class="results">
    <div class="container">
        <!-- <h2>Privacy Policy</h2><br> -->

        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <h3>会社概要</h3>
                    <tbody>
                        <tr>
                            <th scope="row">社名</th>
                            <td>Vibin合同会社</td>
                        </tr>
                        <tr>
                            <th scope="row">代表社員</th>
                            <td>井上翔太</td>
                        </tr>
                        <tr>
                            <th scope="row">本社所在地</th>
                            <td><p>〒135-0062</p>東京都江東区東雲1-9-32-5004</td>
                        </tr>
                        <tr>
                            <th scope="row">設立</th>
                            <td>2020年8月3日</td>
                        </tr>
                        <tr>
                            <th scope="row">資本金</th>
                            <td>300万円</td>
                        </tr>
                        <tr>
                            <th scope="row">事業概要</th>
                            <td>ダンサーたちのポータルサイト「<a href="/">Vibin'</a>」の運営</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Vibin'</h3>
                    <p>
                        <strong>Phone:</strong> +81 080 4339 9251<br>
                        <strong>Email:</strong> info@vibin.tokyo<br>
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Sitemap</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/dashboard/-1?page=1&limit=15">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/calendar">Calendar</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/upload">Upload</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/terms-of-service">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/privacy-policy">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Company</h4>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="/company/about">About us</a></li>
                  </div>
                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Get the latest news from Vibin'!</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    <a href="https://www.facebook.com/Vibin-107436974343750" class="facebook" target="_blank"><i
                            class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/vibin_dance/" class="instagram" target="_blank"><i
                            class="bx bxl-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>Vibin'</span></strong>. All Rights Reserved
            </div>
        </div>
    </div>
</footer>