<head>
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.6.6/video-js.css" rel="stylesheet">
  <script src="https://web-broadcast.live-video.net/1.1.0/amazon-ivs-web-broadcast.js"></script>
</head>
<!-- live video & chat section -->

<section id="live_grid">
  <div class="live_grid">
    <div class="video_grid">
      <%- include ('partials/messages') %>
        <!-- <div class="channel_info student">
          <div class="user_info">
            <div class="infor">
              <p class="name">
                タイトル
              </p>
              <div class="count_info">
                <div class="channel_status">
                  <p class="login_users mr-3"></p>
                  <p class="live_time mr-3"></p>
                  <p>時間：</p>
                  <button type="button" class="btn-social border-0 mr-3" onclick="getSessionTime()">
                    <i class="tio video_camera"></i>
                  </button>
                  <p class="mr-3"><b>配信状況：</b>正常</p>
                  <p class="mr-3"><b>ビットレート：</b>1500kbps</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="container-fluid">
          <div class="row"> -->
            <!-- <div class="col-md-2">
              <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        タイトル
                    </h3>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                      配信状況
                    </h3>
                    <p class="mr-3">正常</p>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                      ビットレート
                    </h3>
                    <p class="mr-3">1500kbps</p>
                </div>
              </div>
            </div> -->
            <div class="">
              <canvas id="preview" class="video-js vjs-fluid vjs-fill vjs-big-play-centered" style="border-radius:0px;"></canvas>
              <h3 id="error"></h3>
            </div>
          <!-- </div>
        </div> -->

        <div class="config d-flex justify-content-center p-3">
          <div class="d-flex mr-auto mt-auto">
            <p class="ml-3 mr-3"><b>セッション時間：</b>00:12:52</p>
            <p class="mr-3"><b>視聴者数：</b>10</p>
            <p class="mr-3"><b>配信状況：</b>正常</p>
            <p class="mr-3"><b>ビットレート：</b>1500kbps</p>
          </div>
          <button type="button" id="toggleAudioBtn" class="btn-social border-0 mr-3" onclick="toggleAudio()">
            <i class="tio volume_up" id="toggleAudioIcon"></i>
          </button>

          <button type="button" id="toggleVideoBtn" class="btn-social border-0 mr-3" onclick="toggleVideo()">
            <i class="tio video_camera" id="toggleVideoIcon"></i>
          </button>

          <!-- Settings trigger modal -->
          <button type="button" class="btn-social border-0 mr-3" id="setting" data-toggle="modal"
            data-target="#settingModal"><i class="tio settings"></i></button>

          <!-- Modal -->
          <div class="modal fade" id="settingModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="settingModalTitle">配信設定</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group m-3">
                    <label for="video-devices">カメラ</label>
                    <select class="form-control" id="video-devices">
                      <option selected disabled>Choose Option</option>
                    </select>
                    <label for="audio-devices">マイク</label>
                    <select class="form-control" id="audio-devices">
                      <option selected disabled>Choose Option</option>
                    </select>
                    <label for="stream-config">配信コンフィグ（消去予定）</label>
                    <select class="form-control" id="stream-config">
                      <option selected disabled>Choose Option</option>
                    </select>
                    <input type="text" id="ingest-endpoint" value="<%= ch.ingestEndpoint %>" hidden />
                    <input type="text" id="stream-key" value="<%= ch.streamKey.value %>" hidden />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn_sm_primary scale border-0 bg-gray c-white rounded-pill m-1"
                    data-dismiss="modal">閉じる</button>
                  <button type="button"
                    class="btn btn_sm_primary scale border-0 bg-pink c-white rounded-pill m-1">保存</button>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn_sm_primary scale border-0 bg-pink c-white rounded-pill mr-3" id="start" disabled
            onclick="startBroadcast()">配信を開始</button>
          <button class="btn btn_sm_primary scale border-0 bg-dark c-white rounded-pill mr-3" id="stop" disabled
            onclick="stopBroadcast()" hidden>配信を終了</button>
        </div>
    </div>

    <div class="chat_grid collapseOn">
      <div class="contain">
        <div class="chat_header">CHAT</div>
        <div class="message_wrap">
          <ul class="message_list"></ul>
        </div>
        <div class="input_wrap">
          <!-- <button class="btn1">投げ銭</button> -->
          <input name="" id="chat_msg" placeholder="コメントする"></input>
          <button class="send_btn"><img src="/assets/img/send.png" alt=""></button>
        </div>
      </div>
    </div>

    <button class="toggle_chat_btn" id="toggle_chat_btn">
      <svg width="100%" height="100%" version="1.1" viewBox="0 0 20 20" x="0px" y="0px"
        class="ScIconSVG-sc-1bgeryd-1 cMQeyU">
        <g>
          <path d="M4 16V4H2v12h2zM13 15l-1.5-1.5L14 11H6V9h8l-2.5-2.5L13 5l5 5-5 5z"></path>
        </g>
      </svg>
    </button>
  </div>
</section>

<!-- autoresize textarea -->
<script src="/assets/js/autosize.js"></script>

<!-- <script src="/assets/js/ie-adapter-0.2.3.js"></script> -->
<script src="/assets/js/video.techer.config.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<script src="/assets/js/chat.config.js"></script>
<script src="/assets/js/broadcast.js"></script>