<div class="header">
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">

          <h1 class="logo"><a href="/">Vibin'</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="#header">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="drop-down"><a href="">Drop Down</a>
                <ul>
                  <li><a href="#">Drop Down 1</a></li>
                  <li><a href="#">Drop Down 2</a></li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                </ul>
              </li>
            </ul>

          </nav><!-- .nav-menu -->
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </header><!-- End Header -->

            <!-- <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">signout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <select class="custom-select" id="orderOption">
                    <option value="relevance" selected="">Relevance</option>
                    <option value="date">Date</option>
                    <option value="viewCount">View</option>
                </select>
                <select class="custom-select" id="durationOption">
                    <option value="any" selected="">Any</option>
                    <option value="short">Short</option>
                    <option value="medium">Medium</option>
                    <option value="long">Long</option>
                </select>
                <input id="userInput" class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit" onclick="search()">Search</button>
            </form>
        </nav>
    </div> -->

    <div class="row mt-5">
        <div class="col-md-10 m-auto">
            <div class="card card-body text-center">
                <h1><i class="fab fa-node-js fa-3x"></i></h1>
                <h1>DansAR</h1>
                <p>Dance with everyone on the earth</p>
                <p>Start with a Google Account</p>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card" style="margin:20px;">
            <img src="" id="thumbnail0"
                class="card-img-top" alt="Tracker">
            <div class="card-body">
                <h4 class="card-title" id="title0"></h4>
                <p class="card-text" id="channelTitle0"></p>
                <a id="videoId0" href="https://www.youtube.com/embed/" class="btn btn-primary">Dance now</a>
            </div>
        </div>