<div class="header">
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Vibin'</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>

      </nav><!-- .nav-menu -->

      <a href="/upload" class="get-started-btn scrollto">Upload</a>

    </div>
  </header><!-- End Header -->

  <!-- Search bar -->
  <section id="search" class="search">
    <div class="col-lg-8 col-md-6 search-bar">
      <form action="" method="post">
        <select class="custom-select" id="orderOption">
          <option value="relevance" selected="">Relevance</option>
          <option value="date">Date</option>
          <option value="viewCount">View</option>
        </select>
        <select class="custom-select" id="durationOption">
          <option value="any" selected="">Any</option>
          <option value="short">Short</option>
          <option value="medium">Medium</option>
          <option value="long">Long</option>
        </select>
        <input type="email" name="email" placeholder="Search"><input type="submit" value="Search">
      </form>
    </div>
  </section>


  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">

        <div class="col-lg-4">
          <div class="box">
            <span>01</span>
            <h4>Lorem Ipsum</h4>
            <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>02</span>
            <h4>Repellat Nihil</h4>
            <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>03</span>
            <h4> Ad ad velit qui</h4>
            <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">signout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <select class="custom-select" id="orderOption">
                    <option value="relevance" selected="">Relevance</option>
                    <option value="date">Date</option>
                    <option value="viewCount">View</option>
                </select>
                <select class="custom-select" id="durationOption">
                    <option value="any" selected="">Any</option>
                    <option value="short">Short</option>
                    <option value="medium">Medium</option>
                    <option value="long">Long</option>
                </select>
                <input id="userInput" class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit" onclick="search()">Search</button>
            </form>
        </nav>
    </div> -->
  <!--
    <div class="row mt-5">
        <div class="col-md-10 m-auto">
            <div class="card card-body text-center">
                <h1><i class="fab fa-node-js fa-3x"></i></h1>
                <h1>DansAR</h1>
                <p>Dance with everyone on the earth</p>
                <p>Start with a Google Account</p>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card" style="margin:20px;">
            <img src="" id="thumbnail0"
                class="card-img-top" alt="Tracker">
            <div class="card-body">
                <h4 class="card-title" id="title0"></h4>
                <p class="card-text" id="channelTitle0"></p>
                <a id="videoId0" href="https://www.youtube.com/embed/" class="btn btn-primary">Dance now</a>
            </div>
        </div> -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Vibin'</h3>
            <p>
              <strong>Phone:</strong> +81 080 4339 9251<br>
              <strong>Email:</strong> info@vibin.tokyo<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Sitemap</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Vibin'</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->