<!DOCTYPE html>
<style>
  #player {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
  }
</style>
<html>

<body>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe id="player" class="embed-responsive-item" src="https://www.youtube.com/embed/<%= id %>" allowfullscreen></iframe>
  </div>

  <button id="speed" onclick="speedUp()" type="button" class="btn btn-primary">Speed Up</button>
  <button id="slow" onclick="speedDown()" type="button" class="btn btn-primary">Slow Down</button>

  <script>
    function speedUp() {
      let rate = player.getPlaybackRate();
      player.setPlaybackRate(rate + 0.25);
      console.log(rate);
    }

    function speedDown() {
      let rate = player.getPlaybackRate();
      player.setPlaybackRate(rate - 0.25);
      console.log(rate);
    }
  </script>
</body>

</html>