<br>
<section id="results">
    <div class="container">
        <div class="col-lg-8 col-xs-12 m-auto text-center">
            <%- include ('partials/messages') %>
            <form action="/users/preference" method="POST">
                <div class="section-title">
                    <h2>Let us know more about you</h2>
                    <p></p>
                    <a href="/dashboard/-1?page=1&limit=15">Skip</a>
                </div>
                <h3>What is the level</h3>
                <p>wassup</p>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="level" name="level" class="form-check-input" type="radio"
                                value="Beginner">Beginner</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="level" name="level" class="form-check-input" class="form-check-input"
                                type="radio" value="Intermediate">Intermediate</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="level" name="level" class="form-check-input" class="form-check-input"
                                type="radio" value="Advanced">Advanced</label>
                    </div>
                </div>

                <h3>What is the purpose</h3>
                <p>Purpose of you</p>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="purpose" name="purpose" class="form-check-input" type="radio"
                                value="Skill Improvements">Skill Improvements</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="purpose" name="purpose" class="form-check-input" class="form-check-input"
                                type="radio" value="Health and Exercise">Health and Exercise</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="purpose" name="purpose" class="form-check-input" class="form-check-input"
                                type="radio" value="Entertainment">Entertainment</label>
                    </div>
                </div>

                <h3>What is the purpose</h3>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <fieldset class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="genre" name="genre" class="form-check-input" type="checkbox"
                                    value="Hip Hop">Hip
                                Hop</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                    type="checkbox" value="Locking">Locking</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                    type="checkbox" value="Jazz">Jazz</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                    type="checkbox" value="Breakin">Breakin</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                    type="checkbox" value="House">House</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                    type="checkbox" value="Popping">Popping</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                    type="checkbox" value="K-POP">K-POP</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                    type="checkbox" value="TikTok">TikTok</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                    type="checkbox" value="Bollywood">Bollywood</label>
                        </div>
                </div>


                <div class="text-center"><button class="chosen-value" type="submit">Upload</button></div>
            </form>
        </div>
    </div>
</section>

<!-- <section id="why-us" class="why-us">
    <div class="container">
        <form action="/users/preference" method="POST">
            <div class="section-title">
                <h2>What is the level?</h2>
                <p></p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="box">
                        <label class="form-check-label">
                            <input id="level" name="level" class="form-check-input" class="form-check-input"
                                type="radio" value="Beginner">
                            <h4>Quality Videos</h4>
                            <p>Access the video you are looking for with just one search</p>
                        </label>

                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box">
                        <label class="form-check-label">
                            <input id="level" name="level" class="form-check-input" class="form-check-input"
                                type="radio" value="Intermediate">
                            <h4>Quality Videos</h4>
                            <p>Access the video you are looking for with just one search</p>
                        </label>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box">
                        <label class="form-check-label">
                            <input id="level" name="level" class="form-check-input" class="form-check-input"
                                type="radio" value="Advanced">
                            <h4>Quality Videos</h4>
                            <p>Access the video you are looking for with just one search</p>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section> -->