<div class="top-space"></div>
<section id="results" class="results">
  <div class="container">
    <h2>Privacy Policy</h2><br>

    <div class="row">
      <div class="col-lg-12">
        <h3>About this privacy policy</h3>
        <ol>
          <li>
            <p>This privacy policy applies to the following website: vibin.tokyo</p>
          </li>
          <li>
            <p>This privacy policy explains our practices regarding the collection, use, and disclosure of information
              we collect when you visit or use the services provided on our website.</p>
          </li>
          <li>
            <p>By your use of our Services, you consent to this Policy and our Terms of Service.</p>
          </li>
          <li>
            <p>This Policy also describes your choices regarding the sharing, use, access and correction of your
              personal information.</p>
          </li>
        </ol>

        <h3>Who we are</h3>
        <ol>
          <li>
            <p>Vibin' (vibin.tokyo) is an online platform that provides you with free dance videos/dance tutorials by
              using Youtube. We upload dance videos and tutorials from YouTube and add useful features such as
              mirroring, scheduling, filter searching and so forth for better dancing experience.</p>
          </li>
          <li>
            <p>Our vision is to create a community where people can truly enjoy their lives. We believe that dancing is
              one of the best ways to start enhancing our well-beings. For that, we use Google services to manage your
              information for a more robust and secure service.</p>
          </li>
        </ol>

        <h3>Information we collect from your registration, use of service, and visits to our website</h3>
        <ol>
          <p class="lead">We collect your personal information (shown below) when you register, use, and visit our
            website.</p>
          <li>
            <p>Your name</p>
          </li>
          <li>
            <p>Your email address</p>
          </li>
          <li>
            <p>Your username</p>
          </li>
          <li>
            <p>Your profile photo</p>
          </li>
          <li>
            <p>Identification number attached to your Google account if you register to vibin.tokyo using Google account
            </p>
          </li>
          <li>
            <p>Access token - a token we require for the secure usage of Youtube Data API v3 and Google Calendar API v3
              in order to enhance your user experience.</p>
          </li>
          <p class="lead">We collect extra information using cookies or similar technologies</p>
          <li>
            <p>Your browsing history - information we collect through search fields for content. We collect information
              about what items and topics you query, and any additional search items.</p>
          </li>
          <li>
            <p>Your IP address - a numerical identifier that identifies your device for network interface identification
              and location addressing.</p>
          </li>
        </ol>

        <h3>How we use information</h3>
        <ol>
          <li>
            <p>To provide and maintain our service using Google APIs</p>
          </li>
          <li>
            <p>To notify you about changes to our service</p>
          </li>
          <li>
            <p>To identify you when you visit and use Vibin' (to prevent security threat)</p>
          </li>
          <li>
            <p>To recommend videos based on your search history and activity</p>
          </li>
          <li>
            <p>To contact you for your further required communication</p>
          </li>
          <p class="lead">We commit to providing you content that is relevant and interesting to you in the easiest way
            possible.</p>
        </ol>

        <h3>Sharing of information</h3>
        <ol>
          <li>
            <p>We do not share your information with subscribers, the Commercial Messages or any data that contains
              personal information, such as your email address, IP address, name, photo, preferences, and all other
              information we collect on vibin.tokyo</p>
          </li>
        </ol>

        <h3>API Usage</h3>
        <ol>
          <p class="lead">We collect and handle your information using following Google APIs:</p>
          <li>
            <p>Google OAuth2 API, v2</p>
          </li>
          <li>
            <p>Youtube Data API, v3</p>
          </li>
          <li>
            <p>Google Calendar API, v3</p>
          </li>
          <p class="lead">We use these APIs for the following reasons:</p>
          <li>
            <p>Retrieve your information for you to register our service</p>
          </li>
          <li>
            <p>Retrieve information about your current events on your Google calendar</p>
          </li>
          <li>
            <p>Insert an event on your calendar for reminder purposes</p>
          </li>
          <li>
            <p>Delete an event on your calendar to cancel certain events</p>
          </li>
          <li>
            <p>Retrieve information about a certain video using video identifiers</p>
          </li>
        </ol>

        <h3>Updating this privacy policy</h3>
        <ol>
          <li>
            <p>Please review this policy periodically as we may update this policy</p>
          </li>
          <li>
            <p>We will notify you when this policy is revised</p>
          </li>
          <li>
            <p>Your use of our service after a revision indicates that you have read, understood, and agree to the
              latest version of policy</p>
          </li>
        </ol>

        <h3>Security of information</h3>
        <ol>
          <li>
            <p>We use encryption (HTTPS/TLS) to ensure the security of data transmitted through our website.</p>
          </li>
          <li>
            <p>We strongly recommend against sharing your logins and passwords with others.</p>
          </li>
          <li>
            <p>It is your responsibility to keep your passwords private and confidential.</p>
          </li>
          <li>
            <p>Internet is never 100% secure, please use our service at your own risk.</p>
          </li>
          <li>
            <p>You are responsible for taking reasonable measures to secure your account.</p>
          </li>
          <li>
            <p>We take the protection of your personal information seriously.</p>
          </li>
        </ol>

        <h3>Cookies and similar technology</h3>
        <ol>
          <li>
            <p>We may use cookies or similar technologies to automatically collect your personal information when you
              visit vibin.tokyo.</p>
          </li>
          <li>
            <p>We may use third party analytic tools such as Google Analytics which employs cookies to collect certain
              information.</p>
          </li>
          <li>
            <p>We may expand our use of cookies as we add new features to our website</p>
          </li>
        </ol>

        <h3>Contact us</h3>
        <ol>
          <li>
            <p>If you have any inquiry about this policy, please contact us at info@vibin.tokyo</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>