<div class="top-space"></div>
<section id="results" class="results">
    <div class="container">
        <h2>Thank you for your purchase!</h2><br>
        <div class="row">
            <div class="col-lg-12">
                <h3>Who we are</h3>
                <ol>
                    <li>
                        <p>We appreciate your business! If you have any questions, please email
                            <a href="mailto:info@vibin.tokyo">info@vibin.tokyo</a>.</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>