<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">Vibin'</a></h1>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#results">Terms of Service</a></li>
                <li><a href="#footer">Contact</a></li>
            </ul>
        </nav>
        <div>
            <a href="/users/register" class="get-started-btn scrollto">Register</a>
            <a href="/users/login" class="get-started-btn scrollto">Login</a>
        </div>
    </div>
</header>

<div class="top-space"></div>
<section id="results" class="results">
    <div class="container">
        <h2>Terms of Service</h2><br>

        <div class="row">
            <div class="col-lg-12">
                <h3>We are currently updating this!</h3>
                <p>We apologize for the wait</p>
            </div>
        </div>
    </div>
</section>
