<div class="top-space">
    <section id="results" class="results">
        <div class="container">
            <h2>OBS使用方法</h2><br>

            <div class="row">
                <div class="col-lg-12">
                    <p>OBSとは、ライブ配信するさいに使用するPC用のソフトです。</p>
                    <p>無料で、どのような配信にも対応できます。OBSのようなソフトのことを配信ソフトといい、OBSはもっとも有名な配信ソフトのひとつです。このページではOBSの使い方を説明しますが、他のソフトでも代用可能な場合もあります。
                    </p>

                    <hr>
                    <h4>ダウンロード</h4>
                    <p>まずは、OBSを導入しましょう。</p>
                    <ol>
                        <li>
                            <p>OBSの<a href="https://obsproject.com/ja" target="_blank">公式サイト</a>にアクセスし、ご使用のOSをクリックする。</p>
                        </li>
                        <li>
                            <p>ダウンロードしたファイルをダブルクリックして実行する。</p>
                        </li>
                        <li>
                            <p>「自動構成ウィザード」は、いったん「いいえ」を選択する。</p>
                        </li>
                        <li>
                            <p>画面を順に進めていく。設定変更は不要。</p>
                        </li>
                        <li>
                            <p>OBSのインストールが完了する。</p>
                        </li>
                    </ol>

                    <hr>
                    <h4>配信設定</h4>
                    <p>ダウンロードが完了したら、Vibinから配信ができるように設定しましょう。一度簡単な設定をするだけです。</p>
                    <ol>
                        <li>
                            <p>レッスンを作成した際に、ページに必要なキーが2つ作成されます。このキーは他の人が見れないように大切に保管してください。</p>
                        </li>
                        <li>
                            <p>OBSでこのキーを設定しましょう。OBSの設定→ストリームからサービスの「カスタム」を選択してください。</p>
                        </li>
                        <li>
                            <p>そして先程作成した2つのキーを「サーバー」と「ストリームキー」の欄に入れてください。</p>
                        </li>
                    </ol>
                    <p>＊キーが流出したり紛失した場合は、キーの使用を即座にやめて、キーを再度生成してください。<a href="#" target="_blank">キーの生成方法</a></p>

                    <hr>
                    <h4>配信開始</h4>
                    <p>配信を開始するには単純にプロフィールページから始める予定のレッスンをクリックしてください。自動的にレッスンが開始されます。</p>
                    <p>OBSでの画面がいきなり生徒ユーザーに見えることになるので、準備万端の状態で開始をしましょう。</p>

                </div>
            </div>
        </div>
    </section>