<!DOCTYPE html>

<head>
  <meta name="description" content="本当にダンスが上達するオンラインのダンスレッスンを探すならVibin'で。刺激的なレッスンで自分の伸びしろを知りませんか？今日から始めましょう。" />
  <meta name="keywords" content="オンラインダンス, オンラインダンスレッスン, 上達, ダンス, ダンス初心者, 教える" />
  <meta name="author" content="Vibin' - 「上達」するオンラインダンスレッスン" />

  <title>先生になる | Vibin'</title>
</head>

<body>
  <div id="wrapper">
    <div id="content">
      <!-- Start Fixed icons -->
      <div class="icon-fixed">
        <div class="fixed img01 floating-3">
          <img src="../../lp/assets/img/gif/money_with_wings.gif" />
        </div>
        <div class="fixed img02 floating-2">
          <img src="../../lp/assets/img/icons/money-bag.png" />
        </div>
        <div class="fixed img03 floating">
          <img src="../../lp/assets/img/icons/purse.png" />
        </div>
        <div class="fixed img04 floating-4">
          <img src="../../lp/assets/img/icons/credit-card.png" />
        </div>
        <div class="fixed img05 floating-3">
          <img src="../../lp/assets/img/gif/money_mouth_face.gif" />
        </div>
        <div class="fixed img06 floating-2">
          <img src="../../lp/assets/img/icons/ok-hand.png" />
        </div>
        <div class="fixed img07 floating">
          <!-- <img src="../../lp/assets/i  mg/icons/bitcoin01.svg" /> -->
        </div>
        <div class="fixed img08 floating-3">
          <img src="../../lp/assets/img/icons/old-key.png" />
        </div>
        <div class="fixed img09 floating-4">
          <img src="../../lp/assets/img/icons/gem-stone.png" />
        </div>
        <div class="fixed img10 floating-4">
          <img src="../../lp/assets/img/gif/globe.gif" />
        </div>
      </div>
      <!-- End. Fixed icons -->

      <!-- Stat main -->
      <main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <!-- Start Banner Section -->
        <section class="demo_2 demo_3 banner_section">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-6">
                <div class="banner_title">
                  <div>
                    <span class="c-white">Crypto</span>
                    <span class="c-green">On The Go</span>
                  </div>
                  <h1 class="c-white">好きな時間に<br>
                    好きなレッスンを。
                    </h1>
                  <p>
                    あなただけのオンラインレッスンを<br>
                    今すぐ開催できます。
                  </p>
                <a href="#" class="btn btn_xl_primary z-index-2 c-white scale bg-pink effect-letter rounded-pill">
                  あなたのレッスンを生徒に届ける
                </a>
                </div>
              </div>
              <div class="col-md-4 col-lg-6">
                <div class="img--elements">
                  <!-- <img src="../../lp/assets/img/elements.png" /> -->
                  <video autoplay muted loop playsinline>
                    <source src="../../lp/assets/img/service_video.mp4" type="video/mp4">
                </video>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Banner -->

        <!-- start Crypto -->
        <!-- <section class="crypto_section padding-py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                <div class="item-coin" data-aos="fade-up" data-aos-delay="0">
                  <div class="media">
                    <div class="icon bit transform-r-15">
                      <i class="tio bitcoin"></i>
                    </div>
                    <div class="media-body mt-1 ml-3">
                      <div class="title float-left">
                        <span>Bitcoin</span>
                        <p>BTC/USD</p>
                      </div>
                      <div class="price float-right">
                        <span>$6,1504.54</span>
                        <p class="c-red">-$474.40 (-6.5%)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                <div class="item-coin" data-aos="fade-up" data-aos-delay="100">
                  <div class="media">
                    <div class="icon eth">
                      <i class="tio ethereum"></i>
                    </div>
                    <div class="media-body mt-1 ml-3">
                      <div class="title float-left">
                        <span>Ethereum</span>
                        <p>ETH/USD</p>
                      </div>
                      <div class="price float-right">
                        <span>$128.59</span>
                        <p class="c-green">+$7.95 (3.82%)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                <div class="item-coin" data-aos="fade-up" data-aos-delay="200">
                  <div class="media">
                    <div class="icon bch">
                      <i class="tio bitcoin"></i>
                    </div>
                    <div class="media-body mt-1 ml-3">
                      <div class="title float-left">
                        <span>Bitcoin Cash</span>
                        <p>BCH/USD</p>
                      </div>
                      <div class="price float-right">
                        <span>$208.35</span>
                        <p class="c-red">-$18.68 (7.27%)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="item-coin" data-aos="fade-up" data-aos-delay="300">
                  <div class="media">
                    <div class="icon ltc">
                      <i class="tio litecoin"></i>
                    </div>
                    <div class="media-body mt-1 ml-3">
                      <div class="title float-left">
                        <span>Litecoin</span>
                        <p>LTC/USD</p>
                      </div>
                      <div class="price float-right">
                        <span>$37.81</span>
                        <p class="c-red">-$2.10 (3.82%)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->
        <!-- End. Crypto -->

        <!-- Start Section Products -->
        <section class="products_section product_demo3 padding-t-12" id="Services">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-5 margin-b-3">
                <div class="title_sections margin-b-4">
                  <div class="before_title">
                    <span>ダンスを</span>
                    <span class="c-pink">教える</span>
                  </div>
                  <h2 class="c-dark">
                    Vibin'でできること
                  </h2>
                </div>
                <!-- <a href="#" class="btn btn_lg_primary z-index-2 c-white scale bg-orange-red effect-letter rounded-8">
                  Explore more
                </a> -->
                <img class="illustration d-sm-none d-lg-block" src="../../lp/assets/img/tecno.png" width="460" />
              </div>
              <div class="col-lg-6 ml-sm-auto">
                <div class="row">
                  <div class="col-md-6 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="0">
                      <img src="../../lp/assets/img/icons/bonus.svg" />
                      <h3>Blockchain Consulting With Your Business</h3>
                      <p>
                        Receive expert advice on blockchain’s compatibility
                        with your business, suitable use cases, and more.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="100">
                      <img src="../../lp/assets/img/icons/blockchain.svg" />
                      <h3>Kick-Start Your Blockchain Solution</h3>
                      <p>
                        Launch an MVP in four to eight weeks using our
                        powerful and developer-friendly.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="200">
                      <img src="../../lp/assets/img/icons/cryptocurrency.svg" />
                      <h3>Custom Development Services</h3>
                      <p>
                        Leverage our expertise to build high-quality,
                        performant, and other solutions for your business.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="200">
                      <img src="../../lp/assets/img/icons/cryptocurrency.svg" />
                      <h3>Custom Development Services</h3>
                      <p>
                        Leverage our expertise to build high-quality,
                        performant, and other solutions for your business.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .container -->
        </section>
        <!-- End Section Products -->

        <!-- Start feature_app -->
        <section class="feature_app margin-t-12 padding-t-12" id="Features">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-lg-8 text-center">
                <div class="title_sections">
                  <div class="before_title">
                    <span>Development</span>
                    <span class="c-pink">Timeline</span>
                  </div>
                  <h2>
                    Vibin'だからこその機能
                  </h2>
                </div>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-lg-3 order-1 order-lg-1 my-auto">
                <div class="item-feat" data-aos="fade-up" data-aos-delay="0">
                  <div class="icon-iim transform-r-15">
                    <img src="../../lp/assets/img/icons/sheet.svg" />
                  </div>
                  <h3>Planning</h3>
                  <p>
                    Map the project's scope and architecture
                  </p>
                </div>
                <div class="item-feat" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-iim">
                    <img src="../../lp/assets/img/icons/archive.svg" />
                  </div>
                  <h3>Prototype</h3>
                  <p>
                    Build a working prototype to test your product
                  </p>
                </div>
              </div>
              <div class="col-md-8 col-lg-4 order-3 order-lg-2 mx-auto" data-aos="fade-up" data-aos-delay="0">
                <img class="app--crypto" src="../../lp/assets/img/app-crypto.png" />
              </div>
              <div class="col-lg-3 order-2 order-lg-3 my-auto">
                <div class="item-feat text-lg-right" dir="rtl" data-aos="fade-up" data-aos-delay="0">
                  <div class="icon-iim">
                    <img src="../../lp/assets/img/icons/physics.svg" />
                  </div>
                  <h3>Refinement</h3>
                  <p>
                    Refine and improve your solution
                  </p>
                </div>
                <div class="item-feat text-lg-right" dir="rtl" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-iim">
                    <img src="../../lp/assets/img/icons/user.svg" />
                  </div>
                  <h3>Scale and support</h3>
                  <p>
                    Deploy the product to a live environment and ensure full
                    support by our experts
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End. feature_app -->

        <!-- Try it -->
        <section class="simplecontact_section tryit_now padding-py-6">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-7">
                <div class="title_sections mb-1 mb-lg-auto">
                  <h2 class="c-white">始めるのに掲載費や利用料はありません。</h2>
                  <p>
                    レッスンが売れたときにはじめて、サービス利用料として 15.0% (税込)を頂戴します。
                  </p>
                </div>
              </div>
              <div class="col-md-3 col-lg-5 my-auto ml-auto text-sm-right">
                <button type="button" class="btn mt-3 rounded-8 btn_xl_primary c-white effect-letter scale bg-pink">
                  Try it Now
                </button>
              </div>
            </div>
          </div>
        </section>

        <!-- Start Tabs Service -->
        <!-- <section class="tabs_works tabs_service padding-t-12" id="Prodcts">
          <div class="container"> -->
        <!-- Start Tabs -->
        <!-- <div class="row">
              <div class="col-md-10 col-lg-4">
                <div class="title_sections margin-b-6">
                  <div class="before_title">
                    <span>Cryptocurrency</span>
                    <span class="c-green">Portfolio</span>
                  </div>
                  <h2 class="c-dark">
                    Create your cryptocurrency portfolio today
                  </h2>
                  <p class="c-gray">
                    Coinbase has a variety of features that make it the best
                    place to start trading.
                  </p>
                </div>

                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                    aria-controls="v-pills-home" aria-selected="true">
                    <h4 class="margin-b-2 font-s-18">Manage your portfolio</h4>
                    <p>
                      Buy and sell popular digital currencies, keep track of
                      them in the one place.
                    </p>
                  </a>
                  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">
                    <h4 class="margin-b-2 font-s-18">Vault protection</h4>
                    <p>
                      For added security, store your funds in a vault with
                      time delayed withdrawals.
                    </p>
                  </a>
                  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                    aria-controls="v-pills-messages" aria-selected="false">
                    <h4 class="margin-b-2 font-s-18">Mobile apps</h4>
                    <p>
                      Stay on top of the markets with the Coinbase app for
                      <span class="c-blue">Android</span> or
                      <span class="c-blue">iOS</span>.
                    </p>
                  </a>
                </div>
              </div>
              <div class="col-md-10 col-lg-7 ml-auto mt-md-auto">
                <div class="tab-content img--tabs slide_bottom" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <img class="--img" src="../../lp/assets/img/41014.png" alt="" />
                  </div>
                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <img class="--img" src="../../lp/assets/img/9701.png" alt="" />
                  </div>
                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                    aria-labelledby="v-pills-messages-tab">
                    <img class="--img" src="../../lp/assets/img/features02.png" alt="" />
                  </div>
                </div>
              </div>
            </div> -->
        <!-- End Tabs -->
        <!-- </div>
        </section> -->
        <!-- End. Tabs Service -->

        <!-- Start Features -->
        <section class="features_section upgrade_item padding-t-12 bg-white position-relative z-index-1">
          <div class="container">
            <div class="row">
              <!-- img -->
              <div class="col-md-8 col-lg-6 mx-auto">
                <div class="images" data-aos="fade-up" data-aos-delay="0">
                  <img src="../../lp/assets/img/0654.png" alt="" />
                </div>
              </div>
              <!-- text -->
              <div class="col-md-10 col-lg-6 ml-auto">
                <div class="title_sections">
                  <div class="before_title">
                    <span>Upgrade 👌</span>
                  </div>
                  <h2>Upgrade Your Storage Layer</h2>
                  <p>
                    Get faster, safer, more affordable cloud object storage
                    with no centeral point of failure.
                  </p>
                  <ul class="list-group">
                    <li class="list-group-item media border-0">
                      <i class="tio checkmark_circle_outlined c-green mr-2"></i>
                      <div class="media-body">
                        100% Secure
                      </div>
                    </li>
                    <li class="list-group-item media border-0">
                      <i class="tio checkmark_circle_outlined c-green mr-2"></i>
                      <div class="media-body">
                        A Fraction of the Cost
                      </div>
                    </li>
                    <li class="list-group-item media border-0">
                      <i class="tio checkmark_circle_outlined c-green mr-2"></i>
                      <div class="media-body">
                        More Durable
                      </div>
                    </li>
                    <li class="list-group-item media border-0">
                      <i class="tio checkmark_circle_outlined c-green mr-2"></i>
                      <div class="media-body">
                        Easier to Use
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Features -->

        <!-- Start Support Service  -->
        <section class="services_section support_item padding-t-12" id="Support">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-lg-6 text-center">
                <div class="title_sections">
                  <div class="before_title">
                    <span>自分のペースでダンスを</span>
                    <span class="c-green">教える</span>
                  </div>
                  <h2>レッスン開始までの流れ</h2>
                  <p>
                    今すぐ審査なしでダンスの先生になる
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="0">
                  <div class="icon--top">
                    <img src="../../lp/assets/img/icons/travel.svg" alt="" />
                  </div>
                  <div class="txt">
                    <h3>アカウント作成</h3>
                    <p>
                      Googleアカウントで簡単にログインしましょう！<br>
                      プロフィール情報や自己紹介文等を入力してください🗣️
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon--top">
                    <img src="../../lp/assets/img/icons/writing02.svg" alt="" />
                  </div>
                  <div class="txt">
                    <h3>レッスン作成</h3>
                    <p>
                      レッスン名、日時、ジャンル、金額などの情報を入力して開催予定のレッスンを作成しましょう🗓️<br>
                      <!-- 受講したくなる魅力的なレッスンを計画してください🗓️ -->
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon--top">
                    <img src="../../lp/assets/img/icons/book.svg" alt="" />
                  </div>
                  <div class="txt">
                    <h3>配信設定</h3>
                    <p>
                      配信の情報を設定して、レッスンの開始を待ちましょう💃<br>
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End. Support Service  -->

        <!-- Start Simple Contact -->
        <section class="simplecontact_section connect_us margin-t-12 padding-py-7">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-lg-5 text-center">
                <div class="title_sections">
                  <h2>さらに詳しい情報はこちらから</h2>
                  <p>
                    今すぐオンラインでの説明を予約できます。
                  </p>
                  <button type="button" class="btn rounded-pill c-white btn_lg_primary ripple scale bg-pink">
                    問い合わせる
                  </button>
                </div>
              </div>
            </div>
            <div class="circle-ripple">
              <div class="ripple ripple-1"></div>
              <div class="ripple ripple-2"></div>
              <div class="ripple ripple-3"></div>
            </div>
          </div>
        </section>
        <!-- End Simple Contact -->
      </main>
      <!-- end main -->
    </div>
    <!-- [id] content -->

    <!-- Toasts -->
    <!-- <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
      <div class="toast toast_demo" id="myTost" role="alert" aria-live="assertive" aria-atomic="true"
        data-animation="true" data-autohide="false">
        <div class="toast-body">
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <i class="tio clear"></i>
          </button>
          <h5>Hi there 👋</h5>
          <p>We are glad you joined us <a href="#">Join us</a></p>
        </div>
      </div>
    </div> -->
    <!-- End. Toasts -->

  </div>
  <!-- End. warapper -->

  <!-- jquery -->
  <script src="../../lp/assets/js/jquery-3.5.0.js" type="text/javascript"></script>
  <!-- jquery-migrate -->
  <script src="../../lp/assets/js/jquery-migrate.min.js" type="text/javascript"></script>
  <!-- popper -->
  <script src="../../lp/assets/js/popper.min.js" type="text/javascript"></script>
  <!-- bootstrap -->
  <script src="../../lp/assets/js/bootstrap.min.js" type="text/javascript"></script>
  <!--
  ============
  vendor file
  ============
   -->
  <!-- particles -->
  <script src="../../lp/assets/js/vendor/particles.min.js" type="text/javascript"></script>
  <!-- TweenMax -->
  <script src="../../lp/assets/js/vendor/TweenMax.min.js" type="text/javascript"></script>
  <!-- ScrollMagic -->
  <script src="../../lp/assets/js/vendor/ScrollMagic.js" type="text/javascript"></script>
  <!-- animation.gsap -->
  <script src="../../lp/assets/js/vendor/animation.gsap.js" type="text/javascript"></script>
  <!-- addIndicators -->
  <script src="../../lp/assets/js/vendor/debug.addIndicators.min.js" type="text/javascript"></script>
  <!-- Swiper js -->
  <script src="../../lp/assets/js/vendor/swiper.min.js" type="text/javascript"></script>
  <!-- countdown -->
  <script src="../../lp/assets/js/vendor/countdown.js" type="text/javascript"></script>
  <!-- simpleParallax -->
  <script src="../../lp/assets/js/vendor/simpleParallax.min.js" type="text/javascript"></script>
  <!-- waypoints -->
  <script src="../../lp/assets/js/vendor/waypoints.min.js" type="text/javascript"></script>
  <!-- counterup -->
  <script src="../../lp/assets/js/vendor/jquery.counterup.min.js" type="text/javascript"></script>
  <!-- charming -->
  <script src="../../lp/assets/js/vendor/charming.min.js" type="text/javascript"></script>
  <!-- imagesloaded -->
  <script src="../../lp/assets/js/vendor/imagesloaded.pkgd.min.js" type="text/javascript"></script>
  <!-- BX-Slider -->
  <script src="../../lp/assets/js/vendor/jquery.bxslider.min.js" type="text/javascript"></script>
  <!-- Sharer -->
  <script src="../../lp/assets/js/vendor/sharer.js" type="text/javascript"></script>
  <!-- sticky -->
  <script src="../../lp/assets/js/vendor/sticky.min.js" type="text/javascript"></script>
  <!-- Aos -->
  <script src="../../lp/assets/js/vendor/aos.js" type="text/javascript"></script>
  <!-- main file -->
  <script src="../../lp/assets/js/main.js" type="text/javascript"></script>
</body>

</html>